{% include 'include/header.twig' %}
<form method="post" action="./index.php?view=ListGroups&action=AddGroup">
    Nom du groupe : <input type="text" name="group_name" />
    <input type="submit" value="Ajouter" />
</form>
