{% include 'include/header.twig' %}

<div class="page">
  <a href="?view=AddUser">Ajouter un utilisateur</a>
  <table>
    <tr>
      <th>Nom</th>
      <th colspan="2">Actions</th>
    </tr>
    {% for user in users %}
      <tr>
        <td>{{ user.name }}</td>
        <td><a href="index.php?view=ModUser&userid={{ user.id }}">edit</a></td>
        <td><a href="index.php?view=ListUsers&action=DelUser&userid={{ user.id }}">delete</a></td>
      </tr>
    {% endfor %}
  </table>
</div>
