{% include 'include/header.twig' %}
<a href="?view=AddGroup" class="add">Ajouter un groupe</a>
<table>
  <tr>
    <th>Nom</th>
    <th colspan="2">Actions</th>
  </tr>
  {% for group in groups %}
    <tr>
      <td>{{ group.name }}</td>
      <td class="action">
        <a href="index.php?view=ModGroup&groupid={{ group.id }}" class="edit"><img src="../img/edit.svg" alt="edit"></a>
        <a href="index.php?view=ListGroups&action=DelGroup&groupid={{ group.id }}" class="delete"><img src="../img/delete.svg" alt="delete"></a>
      </td>
    </tr>
  {% endfor %}
</table>
