<div class="menu">
  <ul>
    <li><a href="./index.php">Accueil</a></li>
    <li><a href="./index.php" target="_blank">Pleine page</a></li>
    <li><span class="print" onClick="javascript:print();">Imprimer</span></li>
    <li><a class="lock" href="./admin/index.php">Administrer</a></li>
  </ul>
</div>
