<!DOCTYPE html>
<meta charset="utf-8">
<title>Dépouillement des revues</title>
<link rel="stylesheet" type="text/css" href="../css/depouillement.css" />
<script  type="text/javascript">
	function checkAll (id_conteneur)
	{
		var Chckbox = document.getElementById(id_conteneur).firstChild;
		while (Chckbox!=null) {
			if (Chckbox.nodeName=="INPUT"){
				if (Chckbox.getAttribute("type")=="checkbox") {
					document.getElementById(Chckbox.getAttribute("id")).checked=1;

				 }
			}
			Chckbox = Chckbox.nextSibling;
		}
	}

	function checkNone (id_conteneur) {
		var Chckbox = document.getElementById(id_conteneur).firstChild;
		while (Chckbox!=null) {
			if (Chckbox.nodeName=="INPUT"){
				if (Chckbox.getAttribute("type")=="checkbox") {
					document.getElementById(Chckbox.getAttribute("id")).checked=0;

				 }
			}
			Chckbox = Chckbox.nextSibling;
		}
	}
</script>

<div class="menu">
  <ul>
    <li><a href="../index.php">Retour</a></li>
    <li><a href="./index.php?view=ListArticles">Articles</a></li>
    <li><a href="./index.php?view=ListUsers">Utilisateurs</a></li>
    <li><a href="./index.php?view=ListGroups">Groupes</a></li>
  </ul>
</div>
